.rideContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: 0 auto;

  .rideTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    margin-bottom: 0px !important;
  }

  h5 {
    margin-bottom: 0px;
  }
    
  .fa-wrench {
    color: red;
  }

  .fa-thumbs-up {
    color: green;
  }

  .rideCard {
    margin: 5px;
  }

  .rideBody {
    padding: 0px 20px 10px 20px;
  }
  
  .card-img-overlay {
    text-align: right;
    padding: 5px 5px;
  }

  .deleteRideIcon {
    color: red;
    cursor: pointer;
  }

}
