@import "~bootstrap/scss/bootstrap";

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  text-align: center;
  color: darkgoldenrod;
  margin-bottom: 0px;
}

.modules {
  background-color: coral;
}

.footer{
  background-color: purple;
  color:white;
}

// .logout-button {
//   margin-left: auto !important;
// }
