.visitor {
  margin: 15px;
  padding: 10px;
}

.visitor p {
  font-size: 14pt;
  margin: 10pt;
}

.vis-container {
  justify-content: space-evenly;
}

#new-vis {
  display: flex;
  justify-content: center;
}

#new-vis-form{
  padding: 0;
  margin: 0;
}