.visitor {
  margin: 15px;
  padding: 10px;
}

.visitor p {
  font-size: 14pt;
  margin: 10pt;
}

.vis-container {
  justify-content: space-evenly;
}

#new-vis {
  display: flex;
  justify-content: center;
}

#new-vis-form{
  padding: 0;
  margin: 0;
}

.vis-card-buttons {
  display: flex;
  justify-content: center;
}
.vis-card-buttons a {
  margin: 2px;
}

#vis-heading {
font-family: 'Luckiest Guy', cursive;
color: #f9ea1a;
margin-top: 5px;
}

#visitor-activity {
  overflow-x: hidden; 
  overflow-y: auto;
  width: 800px; 
  height: 500px;
  border: solid 3px yellow;
  background-color: white;
}
